h1 {
    color: #4ac1f7;
}
.image-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

img {
    position: relative;
    max-width: 100%;
    height: auto;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px
}