{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="cover">
    <div class="front">
        <img src="{% static 'images/signup.png' %}">
        <div class="text">
            <span class="text-1">Discover delicious recipes <br> with every click</span>
            <span class="text-2">Start cooking now!</span>
        </div>
    </div>
</div>
<div class="forms">
    <div class="form-content">
        <div class="signup-form">
            <div class="title">Signup</div>
            <form method="post">
                {% csrf_token %}
                <div class="input-boxes">
                    <div class="input-box">
                        <i class="fas fa-user"></i>
                        <input type="text" placeholder="Enter your username" name="username" required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Enter your email" name="email" required>
                    </div>
                    <div class="input-box">
                        <input type="number" placeholder="Enter your age" name="age" required>
                    </div>
                    <label>Password must contain at least 8 characters, including uppercase and lowercase letters, numbers, and special symbols.</label>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Enter your password" name="password1"  title="Password must contain at least 8 characters, including uppercase and lowercase letters, numbers, and special symbols." required>
                    </div>
                    <div class="input-box">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Re-enter your password" name="password2" required>
                    </div>
                    <div class="text sign-up text">
                        Already have an account? <a href="{% url 'login' %}">Login now</a>
                    </div>
                </div>
                <div class="button input-box">
                        <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}