{% extends 'app/base.html' %}
{% block content %}
        <h1>This is About Page</h1>
        <br>
        <br>
        <p>Welcome to our recipe blog, where we bring together food lovers, home cooks, and professional chefs to explore the art of cooking! Our platform is dedicated to sharing delicious and easy-to-follow recipes, ranging from quick weekday meals to gourmet delights. Whether you're a beginner or an experienced cook, you'll find something to inspire your next dish. We believe that cooking is more than just preparing food—it's about creativity, culture, and bringing people together. Join us as we celebrate flavors, techniques, and the joy of making amazing meals from scratch! 🍽️✨</p>
{% endblock content %}
