{% load static %}
<header>
  <div class="navbar">
    <ul>
        <li><img src="{% static 'images/Cooking_Inas.png' %}" class="logo"></li>
        <li>
            {% if user.is_authenticated %}
                <span>Hi {{ user.username }}!</span>
            {% else %}
                <span>You are not logged in.</span>
            {% endif %}
        </li>
        <li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li><a class="nav-link" href="{% url 'recipe' %}">Recipe</a></li>
        <li>
            <form method="get" action="{% url 'recipe' %}">
                <label>
                    <input type="text" name="q" placeholder="search for recipe..." value="{{query}}">
                </label>
                <button type="submit">Search</button>
            </form>
        </li>
        {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Log out</button>
                </form>
            </li>
        {% else %}
            <li><a class="active" href="{% url 'login' %}">Login</a></li>
        {% endif %}
    </ul>
  </div>
</header>